<div class="card">
    <div class="card__title">
        <div class="icon">
            <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Organization</h3>
    </div>
    <div class="card__body">

        <div class="half">
            <div class="featured_text">
                <h1>PIONEER TEAM</h1>
                <p class="sub">Developer's</p>
            </div>
            <div class="image">
                <img src="/img/mamo.jpg" alt="User Profile">
            </div>
        </div>
        <div class="half">
            <div class="description">
                <p>SimbirSoft – глобальная IT-компания с опытом в разработке и тестировании программных
                    продуктов с 2001 года.</p>
            </div>
            <span class="stock"><i class="fa fa-pen"></i> In stock</span>
            <div class="reviews">
                <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-o"></i></li>
                </ul>
                <span>(64 reviews)</span>
            </div>
        </div>

    </div>
    <div class="card__footer">
        <div class="recommend">
            <p>Recommended by</p>
            <h3>PIONEER Studios</h3>
        </div>
        <div class="action">
            <button type="button">Связь с нами</button>
        </div>
    </div>
</div>