<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/admin_panel.css">
    <title>PIONEER - Панель администратора</title>
</head>
<body class="body_adm">
    <div class="admin_panel">
        <div class="admin_buttons">
            <button class="user_btn"><a href="#">Пользователи</a></button>
            <button class="org_btn"><a href="#">Организации</a></button>
            <button class="rewiews_btn"><a href="#">Заявки</a></button>
        </div>
        <div class="admin_main">

        </div>
    </div>
</body>
</html>