<!DOCTYPE html>
<html lang="en">

<head>
    <title>Создание</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .create_table {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f8f8f8;
        }
    </style>
</head>
</head>

<body>
    <div class="create_table">
        <h1>Создать</h1>
        <form method="POST" enctype="multipart/form-data">
            <label>Full Name</label><br>
            <input name="organization_full_name" class="field" /><br><br>
            <label>ID</label><br>
            <input name="organization_id" class="field" /><br><br>
            <label>INN</label><br>
            <input name="inn" class="field" /><br><br>
            <label></label><br>
            <h3>Загрузка фото профиля</h3>
            <input type="file" name="sampleFile" accept="image/*" />
            <input type="submit" value="Отправить" />
        </form>
        <a href="/">К списку пользователей</a>
    </div>
</body>

</html>