<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>pioner4ik</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/style.css"> <!-- Gem style -->
    <link rel="stylesheet" href="/pageindex.css">
    <link rel="stylesheet" href="/style1.css">
    <link rel="stylesheet" href="/style_card.css">

    <script src="/client/modernizr.js"></script> <!-- Modernizr -->
    <script src="/client/pageindex.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header id="app-header" class="app-header">
        <div class="background-container">
            <div id="background-back" class="background"></div>
            <div id="background-front" class="background"></div>
        </div>

        <div class="header-content">
            <div id="small-toolbar" class="app-toolbar">
                <div id="small-title" class="small-title">PIONEER</div>
            </div>
            <div id="large-toolbar" class="app-toolbar tall">
                <div id="large-title" class="large-title">PIONEER</div>
            </div>
        </div>

        <div id="header">
            <div id="navigation">
                <div align="left">
                    <nav class="main-nav">
                        <ul id="menu" style="margin-left: 8px;">
                            <li><a href="/register">Регистрация</a></li>
                            <li><a href="/login">Войти</a></li>
                            <li><a href="/logout">Выход</a></li>
                            <li><a href="/protected">Страница для авторизированных</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <form action="/" method="POST" enctype="multipart/form-data">
        <h3>Загрузка фото профиля</h3>
        <input type="file" name="sampleFile" accept="image/*" />
        <input type="submit" class="btn btn-primary">
    </form>

</body>

</html>