<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление организации</h1>
     <form method="POST">
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <label>Описание</label><br>
        <input name="age" type="number" class="field" min="1" max="110" /><br><br>
        <label>id</label><br>
        <input name="id" type="number" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку организации</a>
</body>
<html>