<!DOCTYPE html>
<html>
<head>
    <title>Список организации</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список организации</h1>
    <p><a href="/create">Добавить пользователя</a></p>
    <table>
        <tr><th>Имя</th><th>Описание</th><th></th></tr>
        {{#each organization}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/edit/{{this.id}}">Edit</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>