<div class="wrapper">
    <div class="container">
        <section class="benefits">
            <div class="benefits_item">
                <svg width="40" height="40" viewBox="0 0 406 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M209.27 33L-10 304H118L86.49 477.23C86.43 477.57 86.4454 477.919 86.5349 478.252C86.6244 478.585 86.7859 478.895 87.0081 479.159C87.2302 479.423 87.5076 479.635 87.8207 479.781C88.1338 479.926 88.4749 480.001 88.82 480C89.1872 480 89.5493 479.914 89.8774 479.749C90.2055 479.584 90.4906 479.344 90.71 479.05L310 208H182L213.66 34.75C213.703 34.4048 213.671 34.0546 213.568 33.7225C213.465 33.3904 213.292 33.0841 213.061 32.8239C212.83 32.5638 212.547 32.3558 212.229 32.2137C211.912 32.0717 211.568 31.9988 211.22 32C210.839 32.0015 210.464 32.0929 210.125 32.2666C209.786 32.4404 209.493 32.6917 209.27 33Z"
                        stroke="white" stroke-width="32" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="benefits_text">Быстрый поиск нужной услуги</p>
            </div>
            <div class="benefits_item">
                <svg width="40" height="40" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M436.67 184.11C431.58 189.167 424.696 192.006 417.52 192.006C410.345 192.006 403.46 189.167 398.37 184.11L375.89 161.62C370.831 156.533 367.991 149.65 367.991 142.475C367.991 135.3 370.831 128.417 375.89 123.33L426.78 72.44C426.878 72.3422 426.951 72.2219 426.991 72.0897C427.032 71.9575 427.04 71.8173 427.015 71.6813C426.989 71.5453 426.931 71.4176 426.844 71.3094C426.758 71.2011 426.647 71.1155 426.52 71.06C393.68 57 351.09 64.15 324.05 91C298.17 116.69 296.7 155.27 306.18 189C307.527 193.791 307.524 198.862 306.17 203.651C304.817 208.44 302.166 212.763 298.51 216.14L125.51 376.9C121.381 380.597 118.049 385.098 115.719 390.127C113.388 395.156 112.108 400.607 111.956 406.148C111.804 411.688 112.783 417.202 114.835 422.351C116.886 427.5 119.966 432.176 123.886 436.095C127.807 440.013 132.485 443.09 137.635 445.139C142.785 447.188 148.299 448.164 153.839 448.01C159.38 447.855 164.831 446.571 169.858 444.238C174.886 441.905 179.385 438.571 183.08 434.44L345.23 261.14C348.571 257.545 352.829 254.928 357.545 253.571C362.262 252.215 367.26 252.169 372 253.44C405.46 262.38 443.49 260.7 469.07 235.5C496.56 208.42 502.49 160.56 489.17 133.17C489.11 133.05 489.022 132.946 488.913 132.866C488.805 132.787 488.679 132.734 488.546 132.713C488.414 132.691 488.278 132.701 488.15 132.743C488.022 132.784 487.905 132.855 487.81 132.95L436.67 184.11Z"
                        stroke="white" stroke-width="32" stroke-miterlimit="10" stroke-linecap="round" />
                    <path
                        d="M224 284C206.52 267 198.51 259.09 193 253.71C190.242 250.97 188.432 247.422 187.833 243.581C187.234 239.741 187.878 235.809 189.67 232.36C190.615 230.664 191.793 229.109 193.17 227.74L208.85 212.45C210.472 210.824 212.381 209.513 214.48 208.58C217.793 207.113 221.47 206.674 225.036 207.32C228.601 207.965 231.891 209.665 234.48 212.2C239.93 217.49 249.91 227.2 267.89 244.72M317.07 291.3C358.02 329.4 407.69 374.57 427.07 390.71C428.519 391.905 429.703 393.39 430.544 395.069C431.385 396.749 431.865 398.585 431.953 400.462C432.042 402.338 431.737 404.212 431.058 405.963C430.379 407.714 429.34 409.304 428.01 410.63L394.63 444C393.271 445.327 391.657 446.365 389.885 447.048C388.113 447.732 386.22 448.048 384.322 447.977C382.424 447.906 380.56 447.449 378.844 446.635C377.128 445.82 375.595 444.665 374.34 443.24C357.81 424.06 313.25 376.13 275.07 336.24"
                        stroke="white" stroke-width="32" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M17.34 193.5L46.75 164.76C47.1992 164.318 47.7325 163.971 48.3182 163.739C48.9039 163.508 49.5302 163.396 50.16 163.41C51.4295 163.396 52.6538 163.881 53.57 164.76C54.635 165.814 55.9261 166.611 57.3452 167.091C58.7643 167.57 60.2741 167.721 61.76 167.53C65.59 167.11 69.68 165.93 72.33 163.41C78.33 157.61 71.39 146.18 76.67 138.87C82.7074 130.868 89.3181 123.314 96.45 116.27C102.45 110.39 126.29 87.95 166.35 71.82C179.161 66.6417 192.852 63.9864 206.67 64C229.26 64 246.67 74 252.93 79.67C256.687 83.245 260.127 87.1396 263.21 91.31C260.199 90.2003 257.123 89.2752 254 88.54C247.431 87.1464 240.692 86.7219 234 87.28C220.67 88.37 204.59 94.54 196 101.28C182.1 112.28 176.13 127 175.19 145.99C174.51 160.11 177.91 168.09 211.29 201.48C212.431 202.753 213.033 204.42 212.97 206.129C212.906 207.837 212.182 209.455 210.95 210.64L192.73 228.64C191.46 229.885 189.757 230.59 187.978 230.607C186.199 230.624 184.483 229.951 183.19 228.73C161.25 206.79 146.54 195.64 138.19 190.57C129.84 185.5 123.12 184.07 119.89 183.72C113.546 183.091 107.164 184.443 101.62 187.59C100.647 188.124 99.7578 188.798 98.98 189.59C97.6816 190.932 96.6619 192.518 95.9797 194.256C95.2976 195.994 94.9664 197.851 95.0055 199.718C95.0445 201.584 95.453 203.425 96.2072 205.133C96.9615 206.842 98.0466 208.383 99.4 209.67L101.11 211.27C101.554 211.701 101.907 212.218 102.148 212.788C102.389 213.358 102.513 213.971 102.513 214.59C102.513 215.209 102.389 215.822 102.148 216.392C101.907 216.962 101.554 217.478 101.11 217.91L71.73 246.6C71.2849 247.051 70.7535 247.407 70.1676 247.647C69.5817 247.888 68.9533 248.008 68.32 248C67.0506 248.013 65.8267 247.528 64.91 246.65L17.34 200.22C16.479 199.313 15.999 198.11 15.999 196.86C15.999 195.61 16.479 194.407 17.34 193.5Z"
                        stroke="white" stroke-width="32" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="benefits_text">Надежные сотрудники</p>
            </div>
            <div class="benefits_item">
                <svg width="40" height="40" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M416 80H96C69.4903 80 48 101.49 48 128V416C48 442.51 69.4903 464 96 464H416C442.51 464 464 442.51 464 416V128C464 101.49 442.51 80 416 80Z"
                        stroke="white" stroke-width="32" stroke-linejoin="round" />
                    <path
                        d="M296 256C309.255 256 320 245.255 320 232C320 218.745 309.255 208 296 208C282.745 208 272 218.745 272 232C272 245.255 282.745 256 296 256Z"
                        fill="white" />
                    <path
                        d="M376 256C389.255 256 400 245.255 400 232C400 218.745 389.255 208 376 208C362.745 208 352 218.745 352 232C352 245.255 362.745 256 376 256Z"
                        fill="white" />
                    <path
                        d="M296 336C309.255 336 320 325.255 320 312C320 298.745 309.255 288 296 288C282.745 288 272 298.745 272 312C272 325.255 282.745 336 296 336Z"
                        fill="white" />
                    <path
                        d="M376 336C389.255 336 400 325.255 400 312C400 298.745 389.255 288 376 288C362.745 288 352 298.745 352 312C352 325.255 362.745 336 376 336Z"
                        fill="white" />
                    <path
                        d="M136 336C149.255 336 160 325.255 160 312C160 298.745 149.255 288 136 288C122.745 288 112 298.745 112 312C112 325.255 122.745 336 136 336Z"
                        fill="white" />
                    <path
                        d="M216 336C229.255 336 240 325.255 240 312C240 298.745 229.255 288 216 288C202.745 288 192 298.745 192 312C192 325.255 202.745 336 216 336Z"
                        fill="white" />
                    <path
                        d="M136 416C149.255 416 160 405.255 160 392C160 378.745 149.255 368 136 368C122.745 368 112 378.745 112 392C112 405.255 122.745 416 136 416Z"
                        fill="white" />
                    <path
                        d="M216 416C229.255 416 240 405.255 240 392C240 378.745 229.255 368 216 368C202.745 368 192 378.745 192 392C192 405.255 202.745 416 216 416Z"
                        fill="white" />
                    <path
                        d="M296 416C309.255 416 320 405.255 320 392C320 378.745 309.255 368 296 368C282.745 368 272 378.745 272 392C272 405.255 282.745 416 296 416Z"
                        fill="white" />
                    <path d="M128 48V80M384 48V80" stroke="white" stroke-width="32" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M464 160H48" stroke="white" stroke-width="32" stroke-linejoin="round" />
                </svg>
                <p class="benefits_text">Мгновенная запись</p>
            </div>
            <div class="benefits_item">
                <svg width="40" height="40" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M336 176L225.2 304L176 255.8" stroke="white" stroke-width="32" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M463.1 112.37C373.68 96.33 336.71 84.45 256 48C175.29 84.45 138.32 96.33 48.9001 112.37C32.7001 369.13 240.58 457.79 256 464C271.42 457.79 479.3 369.13 463.1 112.37Z"
                        stroke="white" stroke-width="32" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="benefits_text">Гарантия качества</p>
            </div>
            <div class="benefits_item">
                <svg width="40" height="40" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M218.1 167.17C218.1 180.17 218.1 192.77 222.2 204.57C179.1 255.17 65.3 388.87 54.7 399.07C52.5933 400.96 50.908 403.273 49.7536 405.857C48.5993 408.441 48.0018 411.24 48 414.07C48 422.57 53.2 430.77 57.6 435.37C64.2 442.27 92.4 468.37 97.6 463.37C113 448.37 116.1 444.37 122.4 438.17C131.9 428.87 121.4 409.87 124.7 402.17C128 394.47 131.5 392.97 137.2 391.77C142.9 390.57 153 394.67 160.9 394.77C169.2 394.87 173.7 391.37 179.9 385.57C184.9 380.97 188.5 376.67 188.6 369.97C188.8 360.97 175.8 349.07 185.5 339.57C195.2 330.07 209.2 345.77 219.5 344.57C229.8 343.37 242.3 329.07 243.6 322.97C244.9 316.87 231.9 301.17 233.9 292.27C234.6 289.27 240.7 282.27 245.3 281.27C249.9 280.27 270.3 288.17 274.9 287.17C280.5 285.97 287 280.07 292.3 276.77C307.8 283.47 321.9 286.17 340 286.17C408.5 286.17 464 232.77 464 166.97C464 101.17 408.5 48 340 48C271.5 48 218.1 101.37 218.1 167.17ZM400 144C400 150.329 398.123 156.516 394.607 161.778C391.091 167.041 386.093 171.142 380.246 173.564C374.399 175.986 367.965 176.62 361.757 175.385C355.55 174.15 349.848 171.103 345.373 166.627C340.897 162.152 337.85 156.45 336.615 150.243C335.38 144.035 336.014 137.601 338.436 131.754C340.858 125.907 344.959 120.909 350.222 117.393C355.484 113.877 361.671 112 368 112C376.487 112 384.626 115.371 390.627 121.373C396.629 127.374 400 135.513 400 144Z"
                        stroke="white" stroke-width="32" stroke-linejoin="round" />
                </svg>
                <p class="benefits_text">Работа под ключ</p>
            </div>
        </section>
        <section>
            <form>
                <input type="search" class="search" placeholder="Введите запрос" name="text">
                <input type="submit" class="input_button" value="Найти">
            </form>
        </section>
        <section>

            <div class="card">
                <img src="/img/Rectangle 3.png" class="card_img">
                <div class="card_content">
                    <h3 class="card_h3">СТО "Артметалл"</h3>
                    <p class="card_p">Ремонт любой сложности. Бесплатная диагностика при первом визите</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/Rectangle 3.png" class="card_img">
                <div class="card_content">
                    <h3 class="card_h3">СТО "Артметалл"</h3>
                    <p class="card_p">Ремонт любой сложности. Бесплатная диагностика при первом визите</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/Rectangle 3.png" class="card_img">
                <div class="card_content">
                    <h3 class="card_h3">СТО "Артметалл"</h3>
                    <p class="card_p">Ремонт любой сложности. Бесплатная диагностика при первом визите</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/Rectangle 3.png" class="card_img">
                <div class="card_content">
                    <h3 class="card_h3">СТО "Артметалл"</h3>
                    <p class="card_p">Ремонт любой сложности. Бесплатная диагностика при первом визите</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/Rectangle 3.png" class="card_img">
                <div class="card_content">
                    <h3 class="card_h3">СТО "Артметалл"</h3>
                    <p class="card_p">Ремонт любой сложности. Бесплатная диагностика при первом визите</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/Rectangle 3.png" class="card_img">
                <div class="card_content">
                    <h3 class="card_h3">СТО "Артметалл"</h3>
                    <p class="card_p">Ремонт любой сложности. Бесплатная диагностика при первом визите</p>
                </div>
            </div>
        </section>
    </div>
</div>