<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/org_authorization.css">
    <title>PIONEER - Авторизация организации</title>
</head>
<body>
    <form method="POST">
        <div class="org_autorization">
        <div class="autorization_title">
            <h1>Авторизация</h1>
        </div>
        <div class="aut_inn">
            <input name="username" class="field" type="text" placeholder="Введите ваш email">
        </div>
        <div class="aut_email">
            <input name="password" class="field" type="password" placeholder="Введите ваш пароль">
        </div>
        
        <div class="aut_checkbox">
            <input type="checkbox" id="aut_rememberme" name="aut_rememberme" value="aut_rememberme" />
                <label class="aut_label" for="aut_rememberme"><p>Запомнить меня</p></label>
        </div>
        <div class="aut_btn_login">
            <input type="submit" value="Войти" />
        </div>
        <div class="aut_btn_createacc">
            <button>
                <p>Создать аккаунт</p>
            </button>
        </div>
    </div>
    </form>
    
</body>
</html>