<section id="org_about" class="org_about">
        <div id="org_slot" class="org_slot">
            <div id="org_info" class="org_info">
                <div id="org_img" class="org_img">
                    <img src="/upload/{{organization.profile_image}}" alt="Изображение организации">
                </div>
                <div id="org_name" class="org_name">
                    <p class="org_nam">{{organization.organization_full_name}}</p>
                </div>
                <div id="org_disc" class="org_disc">
                    <div class="org_disc_title">
                        <p>Описание организации:</p>
                    </div>
                    <div class="org_disc_text">
                        <p class="org_add">{{organization.add_info}}</p>
                    </div>
                </div>
            </div>
            <div id="org_service" class="org_service">
                <div class="scrl_bord_top"></div>
                <div class="inner_service_conteiner">
                    <div class="service">
                        <div class="service_title"><h4>Услуга №1</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p >Балансировка колес</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">500 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Нанесение тонировки</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">1500 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №3</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Сход развал коленвал</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">725 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Шиномонтаж</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">1000-2000 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Мойка</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">230 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Дитейлинг</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">450 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Клининг</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">150 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Замена масла</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">1100 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Кап рем двигателя</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">50 000 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Замена бампера</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">13 000 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service_title"><h4>Услуга №2</h4></div>
                        <div class="service_details">
                            <div class="name_service">
                                <p>Антикор</p>
                            </div>
                            <div class="price_service">
                                <p class="org_card_money">2000~5500 руб.</p>
                            </div>
                            <div class="btn_signup">
                                <a href="#"><p>Записаться</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scrl_bord_bottom"></div>
            </div>
        </div>
    </section>