<div class="org_autorization">
    <form method="POST" class="org_autorization">
        <div class="autorization_title">
            <h1>Авторизация</h1>
        </div>
        <div class="aut_inn">
            <input name="email" class="field" type="text" placeholder="Введите ваш email">
        </div>
        <div class="aut_password">
            <input name="password" class="field" type="password" placeholder="Введите ваш пароль">
        </div>

        <div class="aut_checkbox">
            <input type="checkbox" id="aut_rememberme" name="aut_rememberme" value="aut_rememberme" />
            <label class="aut_label" for="aut_rememberme">
                <p>Запомнить меня</p>
            </label>
        </div>
        <div class="aut_btn_login">
            <button>
                <p>Войти</p>
            </button>
        </div>
    </form>
    <div class="aut_btn_createacc">
        <div style="justify-content: center; display: flex; font-size:large">
            <div style="margin: 20px; padding: 5px; border: 3px solid #ffffff; border: 1px solid #112533; border-radius: 10px; width: 200%; text-align:center; background-color: #112533;">
                <a style="text-decoration: none; " href="/registration">Создать аккаунт</a>
            </div>
        </div>
    </div>
</div>