<div class="org_profile">
    <div class="info">
        <div class="about">
            <div class="urlpht">
                <p class="txt">url_photo</p>
            </div>
            <div class="inn">
                <p class="txt">ИНН</p>
            </div>
            <div class="kpp">
                <p class="txt">КПП</p>
            </div>
            <div class="orgn">
                <p class="txt">ОГРН</p>
            </div>
        </div>
        <div class="description">
            <div class="fullname">
                <p class="txt">Полное имя</p>
            </div>
            <div class="shortname">
                <p class="txt">Короткое имя</p>
            </div>
            <div class="dscrpt">
                <p class="txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit sed magnam dolorum
                    laborum aspernatur fugiat ipsa quibusdam expedita quos quia, nulla illo veritatis repellendus amet
                    velit. Asperiores optio deleniti dolorem?</p>
            </div>
        </div>
        <div class="bio">
            <div class="fio">
                <p class="txt">ФИО</p>
            </div>
            <div class="email">
                <p class="txt">Emal</p>
            </div>
            <div class="phone">
                <p class="txt">+792784552</p>
            </div>
            <div class="adres">
                <p class="txt">Адрес</p>
            </div>
        </div>
        <div class="btn">
            <div class="btnSAVE">
                <button>Изменить данные</button>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="title">
            <h3>Мои услуги</h3>
        </div>
        <div class="main">
            <div class="myservices">
                <div class="srvc">
                    <p class="txt">Мойка днища</p>
                </div>

            </div>
            <div class="prices">
                <div class="price">
                    <p class="txt">200 руб.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="request">
        <div class="title">
            <h3>Мои заявки</h3>
        </div>
        <div class="main">
            <div class="namerequest">
                <div class="nmrqst">
                    <p class="txt">Мойка днища</p>
                </div>

            </div>
            <div class="date">
                <div class="dtrqst">
                    <p class="txt">Дата</p>
                </div>
            </div>
            <div class="number">
                <div class="numbuser">
                    <p class="txt">Телефон пользователя</p>
                </div>
            </div>
            <div class="button_agree">
                <div class="btnagree">
                    <button>Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
</div>