<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/org_create.css">
    <title>PIONEER - Создание организации</title>
</head>

<body>
    <div class="org_create">
        <div class="info">
            <div class="about">
                <div class="urlpht">
                    <input type="text" placeholder="Введите ссылку на URL фотографию">
                </div>
                <div class="inn">
                    <input type="text" placeholder="Введите ИНН">
                </div>
                <div class="kpp">
                    <input type="text" placeholder="Введите КПП">
                </div>
                <div class="orgn">
                    <input type="text" placeholder="Введите ОГРН">
                </div>
            </div>
            <div class="description">
                <div class="fullname">
                    <input type="text" placeholder="Введите полное название">
                </div>
                <div class="shortname">
                    <input type="text" placeholder="Введите краткое название">
                </div>
                <div class="dscrpt">
                    <textarea name="dscrpt" id="dscrpt" cols="30" rows="10" placeholder="Введите описание"></textarea>
                </div>
            </div>
            <div class="bio">
                <div class="fio">
                    <input type="text" placeholder="Введите ФИО">
                </div>
                <div class="email">
                    <input type="text" placeholder="Введите email">
                </div>
                <div class="phone">
                    <input type="text" placeholder="Введите номер телефона">
                </div>
                <div class="adres">
                    <input type="text" placeholder="Введите адрес">
                </div>
            </div>
            <div class="btn">
                <div class="btnSAVE">
                    <button><p>Сохранить изменения</p></button>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="title">
                <h3>Мои услуги</h3>
            </div>
            <div class="main">
                <div class="myservices">
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                    <div class="srvc">
                        <input type="text" placeholder="Введите свою услугу">
                    </div>
                </div>
                <div class="prices">
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                    <div class="price">
                        <input type="text" placeholder="Введите свою цену за услугу">
                    </div>
                </div>
            </div>
            <div class="addsrvc">
                <button><p>Добавить услугу и цену</p></button>
            </div>
        </div>

    </div>
</body>
</html>