<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/org_profile.css">
    <title>PIONEER - Профиль организации</title>
</head>
<body>
    <div id="org_profile" class="org_profile">
        <div id="info" class="info">
            <div class="descriptions">
                <div class="url">
                    <p>url photo</p>
                </div>
                <div class="inn">
                    <p>ИНН</p>
                </div>
                <div class="kpp">
                    <p>КПП</p>
                </div>
                <div class="ogrn">
                    <p>ОГРН</p>
                </div>
            </div>
            <div class="descriptionsMore">
                <div class="fullname">
                    <p>Полное название</p>
                </div>
                <div class="shortname">
                    <p>Краткое название</p>
                </div>
                <div class="descriptionname">
                    <p>Описание</p>
                </div>
            </div>
            <div class="bio">
                <div class="fio">
                    <p>ФИО</p>
                </div>
                <div class="email">
                    <p>Emal</p>
                </div>
                <div class="phone">
                    <p>Номер телефона</p>
                </div>
                <div class="adress">
                    <p>Адрес</p>
                </div>
            </div>
            <div class="saveButton">
                <div class="svbtn">
                    <button>Сохранить</button>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="title">Мои услуги</div>
            <div class="srvcmain">
                <div class="myservices">
                    <div class="mysrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="mysrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="mysrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="mysrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="mysrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="mysrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="addmysrvc">
                        <p>Добавить услугу</p>
                    </div>
                </div>
                <div class="price">
                    <div class="pricepersrvc">
                        <p>200 руб.</p>
                    </div>
                    <div class="pricepersrvc">
                        <p>200 руб.</p>
                    </div>
                    <div class="pricepersrvc">
                        <p>200 руб.</p>
                    </div>
                    <div class="pricepersrvc">
                        <p>200 руб.</p>
                    </div>
                    <div class="pricepersrvc">
                        <p>200 руб.</p>
                    </div>
                    <div class="pricepersrvc">
                        <p>200 руб.</p>
                    </div>
                    <div class="addpricepersrvc">
                        <p>Добавить стоимость услуги
                        </p>
                    </div>
                </div>
                <div class="addButton">
                    <div class="addbtn">
                        <button>Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="request">
            <div class="title">Мои заявки</div>
            <div class="requestmain">
                <div class="numbering">
                    <div class="num"><p>1</p></div>
                    <div class="num"><p>2</p></div>
                    <div class="num"><p>3</p></div>
                    <div class="num"><p>4</p></div>
                    <div class="num"><p>5</p></div>
                    <div class="num"><p>6</p></div>
                </div>
                <div class="requestedservices">
                    <div class="rqdsrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="rqdsrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="rqdsrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="rqdsrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="rqdsrvc">
                        <p>Мойка днища</p>
                    </div>
                    <div class="rqdsrvc">
                        <p>Мойка днища</p>
                    </div>
                </div>
                <div class="date"></div>
                <div class="userphone"></div>
                <div class="confirmButtons">

                </div>
            </div>
        </div>
    </div>
</body>
</html>