<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меня видят только авторизованные пользователи</title>
</head>
<body>
    <p>Секретная информация для пользователей</p>
    <p>Мы ее видим!!!</p>
    <a href="/">К списку пользователей</a>
</body>
</html>