<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Регистрация</h1>
     <form method="POST">
        <label>Username</label><br>
        <input name="username" class="field"/><br><br>
        <label>Password</label><br>
        <input name="password" type="password" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку пользователей</a>
</body>
<html>