<body>
    <div class="user_profile">
        <div class="user_profile_img">
            <img src="/public/img/mamo.jpg" alt="Пользовательское изображение">
        </div>
        <div class="user_profile_info">
            <div class="user_profile_secondname">
                <h4 class="user_profile_title_txt">Фамилия:</h4> <p class="user_profile_txt">Мельникова</p>
            </div>
            <div class="user_profile_name">
                <h4 class="user_profile_title_txt">Имя:</h4> <p class="user_profile_txt">Анастасия</p>
            </div>
            <div class="user_profile_thirdname">
                <h4 class="user_profile_title_txt">Отчество:</h4> <p class="user_profile_txt">Максимовна</p>
            </div>
            <div class="user_profile_email">
                <h4 class="user_profile_title_txt">Email:</h4> <p class="user_profile_txt">nasya2010@mail.ru</p>
            </div>
            <div class="user_profile_phone">
                <h4 class="user_profile_title_txt">Номер телефона:</h4> <p class="user_profile_txt">+79421150211</p>
            </div>
            <div class="user_profile_buttonchange">
                <button class=""><p class="user_profile_button_txt">Изменить данные</p></button>
            </div>
        </div>
    </div>
</body>
</html>