<div class="profile-container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="avatar"
                                width="350" height="350" border-radius="20">
                            <div class="mt-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">

                                <form>
                                    <input type="surname" class="surname" placeholder="Фамилия" name="text">

                                </form>
                                <form>
                                    <input type="name" class="name" placeholder="Имя" name="text">

                                </form>
                                <form>
                                    <input type="middle_name" class="middle_name" placeholder="Отчество" name="text">

                                </form>
                                <form>
                                    <input type="email" class="email" placeholder="Email" name="text">

                                </form>
                                <form>
                                    <input type="phone_number" class="phone_number"
                                        placeholder="+7 - (___) - ___ - __ - __" name="text">

                                </form>
                                <form>
                                    <input type="password" placeholder="Введите пароль" id="myInput" class="pass">


                                </form>
                                <input type="button" class="Save" value="Сохранить">
                                <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
                                <script
                                    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
                                <script type="text/javascript">
                                </script>
                                <script>
                                    function myFunction() {
                                        var x = document.getElementById("myInput");
                                        if (x.type === "password") {
                                            x.type = "text";
                                        } else {
                                            x.type = "password";
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>