<style>
    .error {
        color: red;
    }
</style>
<div class="org_registration">
    <div class="main_title">
        <h1>Регистрация</h1>
    </div>
    <form action="/usr_registration" method="POST" enctype="multipart/form-data">
        <div class="reg_title">
            <h2>Контактное лицо</h2>
        </div>
        <div class="reg_about">
            <div class="leftside">
                <div class="reg_name">
                    <p class="reg_txt">Имя</p>
                </div>
                <div class="reg_secondname">
                    <p class="reg_txt">Фамилия</p>
                </div>
                <div class="reg_thirdname">
                    <p class="reg_txt">Отчество</p>
                </div>
                <div class="reg_email">
                    <p class="reg_txt">Email</p>
                </div>
                <div class="reg_numb">
                    <p class="reg_txt">Телефон</p>
                </div>
                <div class="reg_descrp">
                    <p class="reg_txt">Описание</p>
                </div>
            </div>
            <div class="rightside">
                <div class="reg_name">
                    <input type="text" name="customer_name" id="customer_name" placeholder="Введите ваше имя">
                    <span id="name_error" class="error"></span>
                </div>
                <div class="reg_secondname">
                    <input type="text" name="customer_surname" id="customer_surname" placeholder="Введите вашу фамилию">
                    <span id="surname_error" class="error"></span>
                </div>
                <div class="reg_thirdname">
                    <input type="text" name="customer_patronymic" id="customer_patronymic"
                        placeholder="Введите ваше отчество">
                    <span id="patronymic_error" class="error"></span>
                </div>
                <div class="reg_email">
                    <input type="text" name="email" id="email" placeholder="Введите ваш emal">
                    <span id="email_error" class="error"></span>
                </div>
                <div class="reg_numb">
                    <input type="text" name="customer_phone_number" id="customer_phone_number"
                        placeholder="Введите ваш номер телефона">
                    <span id="phone_error" class="error"></span>
                </div>
                <div class="reg_descrp">
                    <input type="text" name="add_info" id="add_info" placeholder="Дополнительная информация">
                    <span id="info_error" class="error"></span>
                </div>
            </div>
        </div>
        <div class="reg_password">
            <div class="leftside">
                <div class="reg_passwrd"></div>
                <div class="reg_passwrd"></div>
            </div>
            <div class="rightside">
                <div class="reg_passwrd">
                    <input type="hidden" name="type" value="USR">
                    <input type="text" name="password" id="password" placeholder="Придумайте пароль">
                    <span id="password_error" class="error"></span>
                </div>
            </div>
        </div>
        <div class="add-image">
            <h3>Загрузка фото профиля</h3>
            <input type="file" name="sampleFile" accept="image/*" />
        </div>
        <div class="reg_buttons">
            <div class="reg_checkbox">
                <input type="checkbox" id="reg_user_agree" name="reg_user_agree" value="reg_user_agree" />
                <label class="reg_label" for="reg_user_agree">Принимаю условия<a class="reg_ahref" href="#">политики
                        конфиденциальности</a></label>
            </div>
            <div class="reg_create_acc_btn">
                <button id="create_button">
                    <p>Создать аккаунт</p>
                </button>
            </div>
            <div class="reg_href_profile">
                <a class="reg_profile_a" href="#">Уже есть профиль?</a>
            </div>
            <div class="reg_autoriz_acc_btn">
                <button type="submit">
                    <p>Войти</p>
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    const nameInput = document.getElementById('customer_name');
    const surnameInput = document.getElementById('customer_surname');
    const patronymicInput = document.getElementById('customer_patronymic');
    const emailInput = document.getElementById('email');
    const phoneInput = document.getElementById('customer_phone_number');
    const infoInput = document.getElementById('add_info');
    const passwordInput = document.getElementById('password');
    const submitButton = document.getElementById('create_button');

    const nameError = document.getElementById('name_error');
    const surnameError = document.getElementById('surname_error');
    const patronymicError = document.getElementById('patronymic_error');
    const emailError = document.getElementById('email_error');
    const phoneError = document.getElementById('phone_error');
    const infoError = document.getElementById('info_error');
    const passwordError = document.getElementById('password_error');

    nameInput.addEventListener('input', validateName);
    surnameInput.addEventListener('input', validateSurname);
    patronymicInput.addEventListener('input', validatePatronymic);
    emailInput.addEventListener('input', validateEmail);
    phoneInput.addEventListener('input', validatePhone);
    infoInput.addEventListener('input', validateInfo);
    passwordInput.addEventListener('input', validatePassword);

    function validateName() {
        const name = nameInput.value;
        if (!/^[a-zA-Zа-яА-Я -]+$/.test(name)) {
            nameError.textContent = 'Имя должно состоять только из букв и символа "-"';
        } else {
            nameError.textContent = '';
        }
    }

    function validateSurname() {
        const surname = surnameInput.value;
        if (!/^[a-zA-Zа-яА-Я -]+$/.test(surname)) {
            surnameError.textContent = 'Фамилия должна состоять только из букв и символа "-"';
        } else {
            surnameError.textContent = '';
        }
    }

    function validatePatronymic() {
        const patronymic = patronymicInput.value;
        if (!/^[a-zA-Zа-яА-Я -]+$/.test(patronymic)) {
            patronymicError.textContent = 'Отчество должно состоять только из букв и символа "-"';
        } else {
            patronymicError.textContent = '';
        }
    }

    function validateEmail() {
        const email = emailInput.value;
        if (!/^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z0-9_]+$/.test(email)) {
            emailError.textContent = 'Адрес электронной почты должен содержать символ "@", доменное имя, и может включать латинский алфавит, цифры, нижнее подчеркивание "_"';
        } else {
            emailError.textContent = '';
        }
    }

    function validatePhone() {
        const phone = phoneInput.value;
        if (!/^[0-9+]+$/.test(phone)) {
            phoneError.textContent = 'Номер телефона может включать только цифры и знак "+"';
        } else {
            phoneError.textContent = '';
        }
    }

    function validateInfo() {
        // Add your validation logic for additional info here
    }

    function validatePassword() {
        const password = passwordInput.value;
        if (password.length < 8) {
            passwordError.textContent = 'Пароль должен содержать не менее 8 символов';
        } else if (!/[a-zA-Z]/.test(password)) {
            passwordError.textContent = 'Пароль должен содержать хотя бы одну букву';
        } else if (!/[0-9]/.test(password)) {
            passwordError.textContent = 'Пароль должен содержать хотя бы одну цифру';
        } else {
            passwordError.textContent = '';
        }
    }

    function validateForm() {
        const nameError = document.getElementById('name_error').textContent;
        const surnameError = document.getElementById('surname_error').textContent;
        const patronymicError = document.getElementById('patronymic_error').textContent;
        const emailError = document.getElementById('email_error').textContent;
        const phoneError = document.getElementById('phone_error').textContent;
        const passwordError = document.getElementById('password_error').textContent;

        if (nameError || surnameError || patronymicError || emailError || phoneError || passwordError) {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }
    }

    nameInput.addEventListener('input', validateForm);
    surnameInput.addEventListener('input', validateForm);
    patronymicInput.addEventListener('input', validateForm);
    emailInput.addEventListener('input', validateForm);
    phoneInput.addEventListener('input', validateForm);
    passwordInput.addEventListener('input', validateForm);
</script>