
body {
    margin: 0;
    background: #003F63;
    margin-top: 100px;
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Ubuntu", sans-serif;
    color: white;
    margin: 0;
    font-style: normal;
}
p {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin: 0;
    color: #fff;
}

main {
    min-height: 100%;
}

/*header-start*/

header {
    width: 100%;
    height: 115px;
    background: #112533;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding-bottom: 15px;
}
.header_logo {
    width: 1440px;
    height: 75%;
    margin: 0 auto;

    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header_title {
  width: 150px;
  height: 37px;
}

.header_img{
  width: 250px;
  height: 130px;
  margin-top: 40px;
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center;
}  

.header_img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header_navbar  {
    width: 1440px;
    height: 25%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: left;

}

.hf_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.hf_ahref, .hf_ahref_icon {
    text-decoration: none;
    
}

/*header-end*/

/*footer-start*/
footer {
    width: 100%;
    height: 85px;
   
    background: #112533;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    justify-content: flex-end;
  
   
}

.footer_navbar {
    width: 1440px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.footer_social, .footer_menu {
    width: 100%;
    height: 45%;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;

}


.hf_ahref_icon {
    font-size: 1.3em;/*размер иконок*/
    color: #fff;/*цвет иконок*/
    margin-top: 15px;
    display: inline-block;/*отображать как строчно-блочный элемент*/
    transition: 0.5s;/*плавный переход*/
}


.header_navbar .hf_ahref {
    transition: color 0.3s ease 0.3s; 
}


.footer_navbar .hf_ahref,
.footer_navbar .hf_ahref_icon {
    transition: color 0.3s ease 0.3s; 
}



.footer_navbar .hf_ahref:hover p,
.footer_navbar .hf_ahref_icon:hover {
    color: #289FCA; 
}

.header_navbar .hf_ahref:hover p {
    color: #289FCA; 
}

.usr_profile_card{
  
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #003F63;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
 
}
.me-2 {
  margin-right: .5rem!important;
}
.avatar{
  height: 450px;
  width: 450px;
  border-radius: 20px;
  margin-left: 50px;
}

.roww{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 317px;
}

.profile-column {
  flex: 1;
  max-width: 50%;
}

.profile-container{
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.field-label {
  font-family: Rubik; /* Используйте тот же шрифт, что и для остальной страницы */
  font-size: 16px; /* Или любой другой размер, который вам нравится */
  color: #fff; /* Или любой другой цвет, который вам нравится */
  margin-bottom: 5px; /* Добавьте немного отступа снизу, чтобы подпись не прилипала к полю */
}

.surname{
  width: 600px;
  height: 50px;
  padding: 5px; /* добавляем отступ вокруг текста внутри input */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 10px; /* закругленные углы */
  box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
  font-size: 14px; /* размер шрифта */
  margin-bottom: 20px;

  font-size: 20px;
  font-family: Rubik;
  font-weight: 400;
}
.name{
  width: 600px;
  height: 50px;
  padding: 5px; /* добавляем отступ вокруг текста внутри input */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 10px; /* закругленные углы */
  box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
  font-size: 14px; /* размер шрифта */
  margin-bottom: 20px;

  font-size: 20px;
  font-family: Rubik;
  font-weight: 400;

}
.middle_name{
  width: 600px;
  height: 50px;
  padding: 5px; /* добавляем отступ вокруг текста внутри input */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 10px; /* закругленные углы */
  box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
  font-size: 14px; /* размер шрифта */
  margin-bottom: 20px;

  font-size: 20px;
  font-family: Rubik;
  font-weight: 400;
}
.email{
  width: 600px;
  height: 50px;
  padding: 5px; /* добавляем отступ вокруг текста внутри input */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 10px; /* закругленные углы */
  box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
  font-size: 14px; /* размер шрифта */
  margin-bottom: 20px;

  font-size: 20px;
  font-family: Rubik;
  font-weight: 400;

}
.password{
  width: 875px;
  height: 50px;
  padding: 5px; /* добавляем отступ вокруг текста внутри input */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 10px; /* закругленные углы */
  box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
  font-size: 14px; /* размер шрифта */
  margin-bottom: 20px;  

  font-size: 20px;
  font-family: Rubik;
  font-weight: 400;
}
.pass{
  width: 875px;
  height: 50px;
  padding: 5px; /* добавляем отступ вокруг текста внутри input */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 10px; /* закругленные углы */
  box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
  font-size: 14px; /* размер шрифта */
  margin-bottom: 20px;  
  margin-top: 5px;

  font-size: 20px;
  font-family: Rubik;
  font-weight: 400;
}
.phone_number{
  width: 600px;
  height: 50px;
  padding: 5px; /* добавляем отступ вокруг текста внутри input */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 10px; /* закругленные углы */
  box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
  font-size: 14px; /* размер шрифта */
  margin-bottom: 20px;  
  margin-top: 5px;

  font-size: 20px;
  font-family: Rubik;
  font-weight: 400;
}



.button-class button{
  width: 170px;
  height: 56px;
  border: none; /* Убираем границу */
  border-radius: 30px; /* Закругляем углы */
  background-color: #112533; /* Цвет фона кнопок */
  color: white; /* Цвет текста */
  font-size: 20px; /* Размер шрифта */
  cursor: pointer; /* Устанавливаем курсор на кнопках */
  transition: background-color 0.3s ease;
  margin-left: 700px;
  font-weight: medium;
}

section{
    margin-top: 20px;
  }
  .wrapper{
      background-color: #003F63;
  }
  .container {
    max-width: 1328px;
    margin: auto;
    padding: 0 0 30px 0;
  
  }
  .benefits{
    display: flex;
    flex-direction: row;
    max-width: 954px;
    padding: 32px 0 18px 0;
    margin-left: auto;
    margin-right: auto;
    gap: 80px;
  }
  .benefits_item{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: white;
    text-align: center;
    max-width: 160px;
    
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 400;
  
  }
  .benefits_text{
    margin: 0px;
  }
  .search{
    width: 1144px;
    height: 50px;
    border-radius: 0px !important;
    border: 0px !important;
    font-size: 20px;
    color: #ACAFB0;
    padding-left: 44px;
  }
  .input_button{
    width: 126px;
    height: 50px;
    background-color: #112533;
    color: white;
    border: 0px !important;
    font-size: 20px;
    border-radius: 100px;
    margin-left: 24px;
  }
  .card_img{
    width: 210px;
    height: 210px;
    border-radius: 10px;

  }
  .card{
    background-color: white;
    padding: 46px;
    display: flex;
    gap: 98px;
    max-width: 1308px;
    font-family: Ubuntu;
    margin-bottom: 30px;
  }

  .card_content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }
  .card_h3{
    margin: 0 0 42px 0;
    font-weight: 500;
    color: black;
    font-size: 35px;
    
  
  }
  .card_p{
    font-weight: 400;
    color: black;
    font-size: 20px;
  
    margin-bottom: 42px;
  }


  .org_card_btn {
    align-self: end;
  }
  .card a {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    color: white !important;
    
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .card_button_href {
    width: 200px;
    height: 50px;
    border: none; /* Убираем границу у кнопки */
    border-radius: 50px 50px 50px 50px; /* Задаем радиус для создания овальной формы */
    background-color: #112533; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменяем вид курсора при наведении на кнопку */
    transition: background-color 0.3s ease; /* Добавляем плавный переход для изменения цвета фона */
}

.card button:hover {
  background-color: #289FCA; /* Изменяем цвет фона при наведении на кнопку */
}






















