
body {
    margin: 0;
    background: #003F63;
    margin-top: 220px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Ubuntu", sans-serif;
    color: white;
    margin: 0;
    font-style: normal;
}
p {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin: 0;
    color: #fff;
}

main {
    margin-top: 220px;
    min-height: 100%;
}

/*header-start*/

header {
    width: 100%;
    height: 215px;
    background: #112533;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
}
.header_title {
    width: 1440px;
    height: 75%;
    margin: 0 auto;

    display: flex;
    text-align: left;
    align-items: center;
}

.header_navbar  {
    width: 1440px;
    height: 25%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: left;

}

.hf_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.hf_ahref, .hf_ahref_icon {
    text-decoration: none;
    
}

/*header-end*/

/*footer-start*/
footer {
    width: 100%;
    height: 150px;
   
    background: #112533;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
   
}

.footer_navbar {
    width: 1440px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.footer_social, .footer_menu {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.hf_ahref_icon {
    font-size: 2em;/*размер иконок*/
    color: #fff;/*цвет иконок*/
    margin: 0 10px;
    display: inline-block;/*отображать как строчно-блочный элемент*/
    transition: 0.5s;/*плавный переход*/
}


.header_navbar .hf_ahref {
    transition: color 0.3s ease 0.3s; 
}


.footer_navbar .hf_ahref,
.footer_navbar .hf_ahref_icon {
    transition: color 0.3s ease 0.3s; 
}



.footer_navbar .hf_ahref:hover p,
.footer_navbar .hf_ahref_icon:hover {
    color: #289FCA; 
}

.header_navbar .hf_ahref:hover p {
    color: #289FCA; 
}

/*footer-end*/





















