body {
    margin: 0;
    background: #003F63;
}

.txt {
    font-family: "Rubik", sans-serif;
    color: #000;
    background: #fff;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Ubuntu", sans-serif;
    color: white;
    margin: 0;
}


.org_profile {
    max-width: 1440px;
    min-height: 900px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*info*/
.info {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.description, .bio  {
    margin-left: 15px;
}

.about {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.urlpht, .inn, .kpp, .orgn {
    width: 100%;
    height: 25%;
}

.description {
    width: 460px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullname, .shortname, .dscrpt {
    width: 100%;
}
.fullname {
    height: 25%;
}
.shortname {
    height: 25%;
}
.dscrpt {
    height: 50%;
}

.bio {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fio, .email, .phone, .adres {
    width: 100%;
    height: 25%;
}
.urlpht, .inn,.kpp,
.orgn, .fullname, .shortname,
.dscrpt, .fio, .email, .phone, .adres {
    margin-top: 5px;
    
}

.txt{
    width: 100%;
    height: 100%;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 5px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    text-align: left;
    
    
}

.btn {
    width: 260px;
    height: 100%;

    
}
.btnSAVE{
    width: 260px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSAVE button {
    width: 230px;
    height: 50px;
    border: none; /* Убираем границу у кнопки */
    border-radius: 50px; /* Задаем радиус для создания овальной формы */
    background-color: #112533; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменяем вид курсора при наведении на кнопку */
    transition: background-color 0.3s ease; /* Добавляем плавный переход для изменения цвета фона */
}

.btnSAVE button:hover {
    background-color: #289FCA; /* Изменяем цвет фона при наведении на кнопку */
}
/*info*/

/*services*/
.services {
    width: 100%;
    height: 367px;
}
.title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: left;
}
.main {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
}
.myservices {
    width: 1180px;
    height: 590px;
    display: flex;
    flex-direction: column;
}

.srvc {
    margin-bottom: 5px;
    min-height: 50px;
}

.prices {
    width: 260px;
    height: 590px;
    display: flex;
    flex-direction: column;
} 
.price, .dtrqst, .numbuser{
    margin-left: 10px;
    margin-bottom: 5px;
    min-height: 50px;
}

.request {
    width: 100%;
    height: 323px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.namerequest {
    width: 799px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nmrqst {
    margin-bottom: 5px;
    min-height: 50px;
}

.date {
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.number {
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.button_agree {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.btnagree{
    width: 100%;
}
.btnagree button {
    width: 230px; /* Занимает всю доступную ширину блока */
    height: 50px; /* Устанавливаем высоту кнопок */
    margin-left: 15px;
    margin-bottom: 5px; /* Отступ между кнопками */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы */
    background-color: #112533; /* Цвет фона кнопок */
    color: white; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Устанавливаем курсор на кнопках */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

.btnagree button:hover {
    background-color: #289FCA; /* Изменяем цвет фона при наведении */
}
/*services*/