
/*org_about*/
.org_about {
    width: 100%;
    max-width: 1200px;
    min-height: 80vh;
    margin-top: 150px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: -15px 0 200px rgba(0, 0, 0, 0.1), 15px 0 200px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #cccccc9b;  /* Граница на левой стороне */
    border-right: 1px solid #cccccc9b; /* Граница на правой стороне */
} 

.org_slot {
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    display: flex;

}

/*org_info*/
.org_info {
    flex: 3.5;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.org_img {
    flex: 5;
    width: 100%; /* Фиксированная ширина блока */
    height: 200px; /* Фиксированная высота блока */
}

.org_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.org_name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.org_name p {
    font-weight: bold;
    margin: 0;
}

.org_disc {
    flex: 4;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.org_disc_title {
    font-weight: bold;
    margin-bottom: 5px;
}

.org_disc_text {
    flex: 1;
}

.org_disc_text p {
    margin: 0; /* Убираем внешние отступы у параграфа, если они есть по умолчанию */
}

.org_img, .org_name, .org_disc {
    margin-bottom: 10px;
    border: 1px solid black;
    
}


/*org_info*/

/*org_service*/
.org_service {
    flex: 6.5;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.scrl_bord_top, .scrl_bord_bottom {
    height: 3%;
    padding: 10px;
    
}

.scrl_bord_top {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.scrl_bord_bottom{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.inner_service_conteiner {
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.inner_service_conteiner .service {
    min-height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
}

.service_title {
    text-align: left;
    font-weight: bold;
    
}

.service_details {
    display: flex;
    align-items: center;
    width: 100%; 
    margin-bottom: 10px;
}

.name_service,
.price_service,
.btn_signup {
    flex: 1; 
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.price_service {
    color: green;
}

.btn_signup {
    margin-right: 5px;
}

.name_service p,
.price_service p {
    margin: 0;
}

.btn_signup a {
    margin: 0;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease; 
}

.btn_signup a:hover {
    color: #ffcc00; 
}

/*org_service*/
/*org_about*/