body {
    margin: 0;
    background: #003F63;
    margin-top: 160px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Ubuntu", sans-serif;
    color: white;
    margin: 0;
    font-style: normal;
}

.hidden {
    display: none;
}

.user_profile_txt, .user_profile_title_txt, .user_profile_button_txt {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin: 0;
    color: black;
}

.user_profile {
    width: 1100px;
    height: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    margin-bottom: 334px;
}

.user_profile_img  {
    flex:1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_profile_img img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.user_profile_info{
    flex: 1;

    display: flex;
    flex-direction: column;
}

.user_profile_secondname, .user_profile_name,
.user_profile_thirdname, .user_profile_email,
.user_profile_phone {
    width: 100%;
    height: 15%;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
}
.user_profile_info p {
    margin-left: 5px;
}
.user_profile_info h4 {
    margin-left: 5px;
}

.user_profile_buttonchange {
    width: 100%;
    height: 15%;
    border-radius: 20px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user_profile_buttonchange button{
    width: 40%;
    height: 50px;
    border-radius: 20px;
    background-color: #112533;
    color:white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user_profile_buttonchange button:hover {
    background: #289FCA;
}

.user_profile_button_txt {
    color:white;
}

.edit-secondname {
    width: 80%;
    height: 50%;
}
.edit-name{
    width: 87.5%;
    height: 50%;
}
.edit-thirdname{
    width: 80%;
    height: 50%;
}
.edit-email {
    width: 86%;
    height: 50%;
}
.edit-phone{
    width: 70%;
    height: 50%;
}

.edit-secondname, .edit-name, .edit-thirdname, .edit-email
,.edit-phone {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}