/*  */
body{
    background: #003F63;
    margin-top:20px;
}
.usr_profile_cardd{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.me-2 {
    margin-right: .5rem!important;
}

.profile-cardd{
    width: 50%;
    margin-right: 10px;
}
*/
.field-label {
    font-family: Rubik; /* Используйте тот же шрифт, что и для остальной страницы */
    font-size: 16px; /* Или любой другой размер, который вам нравится */
    color: #fff; /* Или любой другой цвет, который вам нравится */
    margin-bottom: 5px; /* Добавьте немного отступа снизу, чтобы подпись не прилипала к полю */
}

.avatar{
    height: 325px;
    width: 325px;
    border-radius: 20px;
}

.profile-containerr{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
}

.surname, .name, .middle_name, .email, .phone_number {
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 20px;

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;
}


