/*  */
    	body{
    background: #003F63;
    margin-top:20px;
}
.usr_profile_card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #003F63;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
   
}
.me-2 {
    margin-right: .5rem!important;
}
.avatar{
    height: 335px;
    width:335px;
    border-radius: 20px;
    margin-left: 50px;
}

.profile-container{
    width:1440px;
    margin: 0 auto;
}

.surname{
    width: 875px;
    height: 50px;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 10px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    margin-bottom: 20px;

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;
}
.name{
    width: 875px;
    height: 50px;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 10px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    margin-bottom: 20px;

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;

}
.middle_name{
    width: 875px;
    height: 50px;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 10px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    margin-bottom: 20px;

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;
}
.email{
    width: 875px;
    height: 50px;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 10px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    margin-bottom: 20px;

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;

}
.password{
    width: 875px;
    height: 50px;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 10px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    margin-bottom: 20px;  

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;
}
.pass{
    width: 875px;
    height: 50px;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 10px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    margin-bottom: 20px;  
    margin-top: 5px;

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;
}
.phone_number{
    width: 875px;
    height: 50px;
    padding: 5px; /* добавляем отступ вокруг текста внутри input */
    border: 1px solid #ccc; /* стиль границы */
    border-radius: 10px; /* закругленные углы */
    box-sizing: border-box; /* учитываем padding и border внутри ширины и высоты */
    font-size: 14px; /* размер шрифта */
    margin-bottom: 20px;  
    margin-top: 5px;

    font-size: 20px;
    font-family: Rubik;
    font-weight: 400;
}

.Save{
    width: 170px;
    height: 56px;
    border: none; /* Убираем границу */
    border-radius: 30px; /* Закругляем углы */
    background-color: #112533; /* Цвет фона кнопок */
    color: white; /* Цвет текста */
    font-size: 20px; /* Размер шрифта */
    cursor: pointer; /* Устанавливаем курсор на кнопках */
    transition: background-color 0.3s ease;
    margin-left: 700px;
    font-weight: medium;
}

